body {
  font-family: "Gill Sans", sans-serif;
}

.messenger {
  padding: 100px;
}

.message {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  border: 1px solid silver;
  border-radius: 10px;
  width: 600px;
}